network=AVO
AVO.dataSource=pubavo1

AVO.subnet=Spurr
AVO.Spurr.channel=SPCG BHZ AV
AVO.Spurr.channel=CKL EHZ AV
AVO.Spurr.channel=BGL EHZ AV
AVO.Spurr.channel=CKT EHZ AV
AVO.Spurr.channel=CRP EHZ AV

AVO.subnet=Redoubt
AVO.Redoubt.channel=RDDF BHZ AV
AVO.Redoubt.RDDF BHZ AV.maxPower=120
AVO.Redoubt.channel=RSO EHZ AV
AVO.Redoubt.channel=NCT BHZ AV
AVO.Redoubt.NCT BHZ AV.maxPower=120
AVO.Redoubt.channel=DFR EHZ AV
AVO.Redoubt.channel=RED BHZ AV
AVO.Redoubt.RED BHZ AV.maxPower=120
AVO.Redoubt.channel=RDT EHZ AV

AVO.subnet=Iliamna
AVO.Iliamna.channel=ILI EHZ AV
AVO.Iliamna.channel=ILS EHZ AV
AVO.Iliamna.channel=IVE EHZ AV
AVO.Iliamna.channel=INE EHZ AV

AVO.subnet=Augustine
AVO.Augustine.channel=AUCH BHZ AV
AVO.Augustine.channel=AUW EHZ AV
AVO.Augustine.channel=AU22 BHZ AV
AVO.Augustine.channel=AUE EHZ AV
AVO.Augustine.channel=AUP EHZ AV
AVO.Augustine.channel=AUH EHZ AV