body {
background-color: #FFEBCD; /*blanchedalmond*/
font-family:Verdana, Geneva, Arial, sans-serif;
font-size:small;
}

#main {
margin:auto;
width: 680px;
/*background-color: #FFFAFA; /*snow*/
}

#navigation {
position: fixed;
top: 10px;
left:	4px;
width:	90px;
text-align: center;
background-color: #DCDCDC;
border-width:medium;
border-color:#660;
border-style:groove;
padding-top:5px;
padding-bottom:5px;
font-size:x-small;
}
#navigation .suite_title{
font-family:cursive;
font-size:1.4em;
font-weight:bold;
color:#113;
}

#navigation p{
font-size:x-small;
}

#navigation ul{
text-align:left;
font-size:xx-small;
font-style:italic;
margin-left:-20px;
list-style-type:none;
}

#navigation p a:hover {
 font-weight:bold;
 }
 
 .here{
 border:1px;
 border-color:#888;
 background-color:#EEE;
 border-style:inset;
 margin:2px;
 color:#11B;
 }
 
 .here:hover a{
 visibility:visible;
 font-size: xx-small;
 }
 .here a{
 /*visibility:hidden;
 *  font-size:1px;*/
 width:90%;
 }
 
#photo{
float:right;
width: 70px;
height: 70px;
margin-right: 20px;
}

#header {
margin:auto;
text-align:center;
width: 680px;
/* height: 100px; */
margin-top:10px;
background-color: #F5DEB3;
border-width:medium;
border-color:#660;
border-style:groove;
}
#header:hover{
background-color:#DCDCDC;
}

#allcontent {
margin-left:95px;
padding:1px;
width:700px;
border-width:medium;
border-color:#330;
border-style:double;
background-color: #FFF;
}
hr{ width:80%;}

/* ---------------------------
 * For use with example matlab sessions
 * ------------------------------*/
.matlabsession{
border:dotted;
border-width:1px;
padding-left:3px;
padding-right:3px;
border-color:#244;
background-color:#EEE;
color:#9ACD32;
font-family:monospace; /*this is code, essentially*/
}

.filelisting{
border:dashed;
padding-left:3px;
padding-right:3px;
border-color:#444;
border-width:1px;
background-color:#DDD;
color:#025;
font-family:monospace; /*this is code, essentially*/
}

img.inline_ex {
float:right;
width:30px;
height:30px;
border:solid;
}

img.inline_ex:hover{
width:auto;
height:auto;
}

.user{color:#44F;}

/*insert the prompt for user input*/
.user:before{
content:">>";
color:#444;}

.aside{color:#777;font-style:italic;padding-left:15px;font-family:serif;}
.computer{color:#111;}
.computer img{
margin:0px 10px 10px 10px;
width:80%; 
border:thin; 
border-style:outset;
}
.comment{color:#080; font-style:italic;}
.comment:before{
content:"% ";
}

.error{color:#A11;}

/*define functions*/
.functions dt{color:#050;
font-family:monospace;
font-weight:bold;}
.functions dd{;}
.specificexample li{color:#000;font-family:monospace;}
.specificexample li:first-line{color:#700;font-family:monospace;}


