
body {font: small/1.5em Verdana, Geneva, Arial, sans-serif;
    background-color: #FFF;}
.navButtons {
    border:2px; margin:1px; padding:1px;
    background-color : #FFF0DD;
    ext-align: center;
	border-style:outset;
}
.activePage { 
  font-weight: bold; 
  color: #444;
}
.style1 {color: #060}
.deprecated {
	color: #262; 
	background-color:#EDC; 
	text-decoration: line-through;}
.style2 {color: #900}
.style4 {
	color: #060; 
	font-weight: bold; }
.style5 {font-weight: bold}
.style6 {font-weight: bold}
.style7 {
    font-size: larger;
    font-style: italic;
}
.style8 {color: #090}
.style9 {
    color: #666;
    font-style: italic;
}
.downloadme {
	background-color:#9DF;
	border:2px;   
	border-style:outset;

	margin:20px; 
	padding:10px;
	text-align:center;}
.fn_name { 
	font-weight: bold;}
#bottom_navigation, #top_navigation {
	text-align:center;
}
#screenshot_pane{
  float:right;
  width:300px;
  margin:0px 20px; 
}
#summary_pane{
	width: 90%;
	padding:10px;
}
img {
	border:1px; 
	border-style:outset;}
code, .block_code .block_code_noborder{
	background-color:#F0F0F0;
	}
.block_code{
	border-color:#CCC;
	border:1px;
	border-style: dashed;
}
.constructor_code{
font-weight:bold;
color:#060;
}
.use_example{
color:#900;
}
